body {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #D9D8D7;
    font-family: 'Cooper Lt BT',serif;
    min-height: 100vh;

}

#footer{
  font-family: sans-serif;
  font-size: 2vh;
  background-color: #20448C;
}


#logo{
  height: 5.5vh;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-left: 15%;
}

.navegacion{
  background-color: #white;
  color: black;
}

.profilePicture{
  border-radius: 70%;
  width: 40vh;
  height: 40vh;
  margin: -10px;

}

.waves-effect.waves-yellow {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: #D9D8D7;
  color: black;
  font-family: arial,serif;
  font-size: 100%;
}

header div img{
	width: 130px;
	height: 130px;
}
header{
        font-family: 'Open Sans', sans-serif;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .14em;
	text-transform: uppercase;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
}
#menu a{
	line-height: 2em;
	text-decoration: none;
	color: #1d1d1d;
	margin-right: 40px;
}

#menu a:hover{
	color: rgba(29, 29, 20, .4);
	transition-duration: 0.2s;
}
